body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #fff;
  --secondary-bg-color: #5A98D0;
  --dark-bg-color: #316099;
  --main-text-color: #1F3F68;
  --title-text-color: #316099;
  --light-text-color: #fff;
  --accent-text-color: #5A98D0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}